// 0. Plugins

@import '../sass/0-plugins/variables.scss';
@import '../sass/0-plugins/mixin.scss';

// 1. reset
@import '../sass/1-reset/normalize.scss';

// 2. Base
@import '../sass/2-base/class-helpers.scss';

// 3. layout
// @import './sass/3-layout/responsive.scss';
@import '../sass/3-layout/responsive-movie.scss';

body {
  background-color: #0f1723;
  color: #fff;
  line-height: 1.4;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.btn {
  letter-spacing: 1.5px;
  @include btn($min-width: 200px, $background: #3498db);
}
